/* <<<<<<<<<<     Mex01     >>>>>>>>>>     >>>>>>>>>>     >>>>>>>>>>

This is a staging theme which I am using to experiment with different
css discripters. Most likely it will reamain in avery incomplete state.

This first section is used as a staging area for discriptors while I
am determining their use.

*/













/* <<<<<<<<<<<<<<<<<<<<<<<<<< Base Discriptors >>>>>>>>>>>>>>>>>>>>>>>>

many of these are assigned crazy values to make sure I notice when they
are changed.

*/

stage	{
	font-family: serif;
	font-size: 20pt;
	color: #ff0000;
} /* used for assigning default values for the theme */

